/* block inserted to page*/
#yt-txt-popup {
  max-height: 70vh;
  position: fixed;
  min-width: 270px;
  width: 30vw;
  right: 10px;
  top: 10px;
  background-color: #CCCCCC;
  opacity: 0.5;
  z-index: 9998;
  border-radius: 3px;
  border: 1px solid #D1D1D1;
  padding: 30px 3px 25px 3px;
  transition: 0.5s ease;
  display: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#yt-txt-popup.collapse {
  height: 18px; 
  padding: 10px;
  overflow-y: none;
}

#yt-txt-button-wrapper {
  position: absolute;
  right: 0px;
  top: 10px;
  padding: 0 5px;
  height: 20px;
}

.yt-txt-buttons {
  padding: 7px 10px;
  margin-left: 5px;
  border-radius: 3px;
  background: #02B3E4;
  color: #FFF !important;
  text-decoration: none;
}
.yt-txt-buttons:hover {
  background: rgb(2, 103, 131);
  color: #FFF !important;
}

#txt {
  padding: 3px;
  border-radius: 3px;
  margin-top: 10px;
  color: black;
  overflow-y: auto;
  max-height: 70vh;
  background-color: rgb(235, 235, 235);
}

#txt::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 5px;
}
#txt::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}
#txt::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border: 2px solid #636363;
}


 /* popup html near icon  */
#credentials {
  font-size: 10px;
  padding-bottom: 15px;
}

#checkPage {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#checkPage:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#checkPage:active {
  background: #164864;
}


/* for gTranslate bubble that it will appear below all other blocks */
.jfk-bubble {
z-index: 9999 !important;
}



 